/*html body*/
body, html {
    font-family:"Times New Roman", Times, Serif;
}
/*continers*/
.conatiner {
    margin-left: 20%;
    margin-right: 20%;
    }
.conatiner2 {
        margin-left: 20%;
        margin-right: 20%;
        }
/*img*/
.headimg {
    width: 50%;
    float: left;
    margin-right: 30px;
}
/*Header*/
.Header{
    list-style-type: none;
    overflow: hidden;
    width: 40%;
    margin-bottom: 100px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 20px;
    
}
.Header li a {
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
    overflow: hidden;
    padding: 10px;
    
}
.Header li a:hover {
    color: red;
}

/*NavBar*/
.NavBar {
    list-style-type: none;
    overflow: hidden;
    background-color: red;
}
.NavBar li a {
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-left: 30px;
}
.NavBar li a:hover {
    text-decoration: white underline;
}
/*sidelist*/
.sidelist {
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 20px;
    overflow: hidden;
    float: left;
    list-style-type: none;
    height: auto;
    margin: 10px;
    vertical-align: middle;
}
.sidelist li a {
    text-decoration: none;
    color: black;
}
.sidelist li a:hover {
    text-decoration: black underline;
}
