/*html body*/
html, body {
    font-family:"Times New Roman", Times, Serif;
}
/*NavBar*/
.NavBar {
    list-style-type: none;
    overflow: hidden;
    background-color: red;
}
.NavBar li a {
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-left: 30px;
}